[Desktop Entry]
Encoding=UTF-8
Name=CASNET
Name[zh_CN]=中科院网关登录
Comment=CASNET Online
Comment[zh_CN]=中科院网关登录
Exec=casnet-gui
Terminal=false
Type=Application
Icon=/usr/share/icons/casnet.png
Categories=Application;Network;
